*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

.flex-container{
    display: flex;
    width: 100%;    
}

#topo{
    width: 100%;
    background-color: rgb(212, 212, 208);
    justify-content: center;
    height: auto;
}

#topo a{
    text-align: center;
}

.imagem{
    width: 40%;
    height: 100%;
}

nav{
    width: 100%;
    background-color: #e71b1b;
    height: auto;
    justify-content: center;
}

.menu{
    list-style: none;
    display: inline-flex;
    justify-content: center;
}

.menu ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
}

.menu li{
    position: relative;
    padding: 10%;
    }

.menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.menu li a:hover{
    color:black;
    transition: 0.4s;
}

.menu li ul{
    display: none;
    list-style: none;
    position: absolute;
    top: 70%;
    left: 0;
    background-color: #e71b1b;
}

.menu li:hover ul{
    display: block;
}

.menu li ul li{
    display:block;
    width: 170px;
}

#conteudo{
    min-height: 700px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em

}

#conteudo h1{
    text-align: center;
    padding-top: 2%;
}

#conteudo p, ol, h2, img{
    padding: 2% 5%;
}

#rodape{
    justify-content: center;
    text-align: center;
    background-color: rgb(49, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    align-items: center;
    height: 80px;

}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
label{
    font-size: 0,3em;
}
legend{
    font-size: 0,7em;
    font-weight: bold;
}
input, select, textarea {
    width: 500px;
    border-radius: 15px;
}

fieldset{
    width:80%;
    border:none;
}
textarea{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

button{
    padding: 20px;
    border-radius: 15px;
    border: none;
}
.required::after{
    content: " *";
    color: #e71b1b;
}